@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  color-scheme: light;
  /* Force browser to render in light mode */
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #ffffff;
  /* Fallback */
  background-color: var(--background);
  color: #171717;
  color: var(--foreground);
}